{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- Main Section Start -->
    <div class="main-section ">
        <div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 250px;padding-bottom: 250px;margin-bottom: 0px; background: url({% static 'extra-images/home-top-1.jpg' %}) no-repeat center / cover;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="element-title">
                            <h1 style="font-size: 40px; color: #ffffff !important; text-transform: uppercase; line-height: 50px; margin-bottom: 25px; text-align:center;">
                                We are in the business of food<br>our restaurants do</h1>
                            <p style="font-size: 18px; letter-spacing: 1px; color: #ffffff !important; text-align:center;">
                                Ridiculus sociosqu
                                cursus neque cursus curae ante scelerisque vehicula.</p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="main-search fancy bg-holder">
                            <form>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
                                        <div class="field-holder">
                                            <input type="text" placeholder="Resturant name">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                                        <div class="field-holder">
                                            <ul>
                                                <li class="select-location">
                                                    <div class="foodbakery-locations-fields-group foodbakery-focus-out">
                                                        <span class="foodbakery-search-location-icon"><i class="icon-location"></i></span>
                                                        <span id="foodbakery_radius_location_open333" class="foodbakery-radius-location"><i class="icon-target5"></i></span>
                                                        <input type="text" class="location-field-text filter" placeholder="All Locations">
                                                    </div>
                                                    <div class="select-location" id="foodbakery-radius-range333" style="display: none;">
                                                        <div class="select-popup popup-open">
                                                            <a id="location_close_popup333" href="javascript:0;" class="location-close-popup">
                                                                <i class="icon-times"></i></a>
                                                            <input type="hidden" class="foodbakery-radius" name="foodbakery_radius" value="10">
                                                            <p>Show with in</p>
                                                            <input id="ex16b333" type="text" data-value="10" value="10" style="display: none;">
                                                            <script>
                                                                jQuery(document).ready(function () {
                                                                    var elem = jQuery("#ex16b333");
                                                                    if (elem.length != "") {
                                                                        elem.slider({
                                                                            step: 1,
                                                                            min: 0,
                                                                            max: 500,
                                                                            value: 10,
                                                                        });
                                                                        elem.on("slideStop", function () {
                                                                            var rang_slider_val = elem.val();
                                                                            jQuery("#ex16b333CurrentSliderValLabel").html(rang_slider_val);
                                                                            jQuery("#range-hidden-foodbakery-radius333").val(rang_slider_val);
                                                                            //foodbakery_restaurant_content("333");
                                                                        });
                                                                        elem.on("slide", function () {
                                                                            jQuery("#ex16b333CurrentSliderValLabel").html(elem.val());
                                                                        });
                                                                    }

                                                                    $("#foodbakery_radius_location_open333").click(function () {
                                                                        $("#foodbakery-radius-range333").show();
                                                                    });
                                                                    $("#location_close_popup333").click(function () {
                                                                        $("#foodbakery-radius-range333").hide();
                                                                    });
                                                                });
                                                            </script>
                                                            <span>Miles: <span id="ex16b333CurrentSliderValLabel">10</span></span><br>
                                                            <p class="my-location">of <i class="cs-color icon-location-arrow"></i><a id="foodbakery-geo-location-all" class="cs-color foodbakery-geo-location313324" href="javascript:void(0)">My location</a></p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <div class="field-holder">
                                            <input type="submit" value="Search">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Top Restarurants Section Start -->
        <div class="page-section nopadding cs-nomargin"
            style="margin-top: 0px;padding-top: 60px;padding-bottom: 0px;margin-bottom: 0px;background: #ffffff;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="element-title align-left">
                            <h2>Top Restaurants</h2>
                            <p>Explore restaurants, bars, and cafés by locality</p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right:0 !important;padding-left:0 !important;">
                        <div class="company-logo">
                            <ul>
                                <li class="has-border">
                                    <figure>
                                        <a href="#"><img src="assets/extra-images/listing-logo18.png"
                                                class="attachment-full size-full wp-post-image" alt=""></a>
                                    </figure>
                                </li>
                                <li class="has-border">
                                    <figure>
                                        <a href="#"><img src="assets/extra-images/fb-restaurant-02.jpg"
                                                class="attachment-full size-full wp-post-image" alt=""></a>
                                    </figure>
                                </li>
                                <li class="has-border">
                                    <figure>
                                        <a href="#"><img src="assets/extra-images/fb-restaurant-04.jpg"
                                                class="attachment-full size-full wp-post-image" alt=""></a>
                                    </figure>
                                </li>
                                <li class="has-border">
                                    <figure>
                                        <a href="#"><img src="assets/extra-images/fb-restaurant-06.jpg"
                                                class="attachment-full size-full wp-post-image" alt=""></a>
                                    </figure>
                                </li>
                                <li class="has-border">
                                    <figure>
                                        <a href="#"><img
                                                src="assets/extra-images/xlisting-logo03.png.pagespeed.ic_.aT-o9LinEJ.png"
                                                class="attachment-full size-full wp-post-image" alt=""></a>
                                    </figure>
                                </li>
                                <li class="has-border">
                                    <figure>
                                        <a href="#"><img src="assets/extra-images/listing-logo09.png"
                                                class="attachment-full size-full wp-post-image" alt=""></a>
                                    </figure>
                                </li>
                                <li class="has-border">
                                    <figure>
                                        <a href="#"><img src="assets/extra-images/listing-logo18.png"
                                                class="attachment-full size-full wp-post-image" alt=""></a>
                                    </figure>
                                </li>
                                <li class="has-border">
                                    <figure>
                                        <a href="#"><img src="assets/extra-images/fb-restaurant-09.png"
                                                class="attachment-full size-full wp-post-image" alt=""></a>
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Restarurants Section End -->

        <div class="page-section nopadding cs-nomargin"
            style="margin-top: 0px;padding-top: 45px;padding-bottom: 60px;margin-bottom: 0px;background: #ffffff;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="cs-section-title" style="text-align:center!important;">
                            <h2>Choose from Most Popular</h2>
                            <span style="color:#aaaaaa;">Explore restaurants, bars, and cafés by locality</span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="listing grid-listing three-cols">
                                <div class="col-md-4 col-xs-6 grid-listing-col ">
                                    <div class="img-holder">
                                        <figure>
                                            <a href="#"><img src="assets/extra-images/cover-photo20-359x212.jpg"
                                                    alt=""> </a>
                                            <figcaption class="listing-meta">
                                                <div class="listing-inner clearfix">
                                                    <div class="list-option">
                                                        <span class="label bgcolor time-label"
                                                            style="display: none;"></span>
                                                        <a href="#" class="shortlist-btn" data-toggle="modal"
                                                            data-target="#sign-in"><i class="icon-heart-o"></i> </a>
                                                    </div>
                                                    <div class="list-rating">
                                                        <div class="rating-star">
                                                            <span class="rating-box" style="width: 100%;"></span>
                                                        </div>
                                                        <span class="reviews">(1)</span>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                        <span class="restaurant-status close"><em
                                                class="bookmarkRibbon"></em>Close</span>
                                    </div>
                                    <div class="text-holder">
                                        <div class="listing-inner">
                                            <h4><a href="#">Nature Healthy Food</a></h4>
                                            <p>Apple Juice, Beef Roast, Cheese Burger</p>
                                            <div class="min-order">Min Order <span class="price">£15.00</span></div>
                                        </div>
                                        <div class="listing-footer">
                                            <div class="listing-inner clearfix">
                                                <div class="img-holder">
                                                    <a href="#"><img src="assets/extra-images/listing-logo03.png"
                                                            alt=""></a>
                                                </div>
                                                <div class="text-holder">
                                                    <p>Bristol, Bristol</p>
                                                    <p class="deliver-time"><span class="icon-motorcycle2"></span>10
                                                        min</p>
                                                    <p class="pickup-time"><span class="icon-clock4"></span>15 min
                                                    </p>
                                                    <a href="#" class="ordernow-btn bgcolor">Order Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-6 grid-listing-col ">
                                    <div class="img-holder">
                                        <figure>
                                            <a href="#"><img src="assets/extra-images/cover-photo19-359x212.jpg"
                                                    alt=""></a>
                                            <figcaption class="listing-meta">
                                                <div class="listing-inner clearfix">
                                                    <div class="list-option">
                                                        <span class="label bgcolor time-label distance-1705"
                                                            style="display: none;"></span>
                                                        <a href="#" class="shortlist-btn" data-toggle="modal"
                                                            data-target="#sign-in"><i class="icon-heart-o"></i></a>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                        <span class="restaurant-status open"><em
                                                class="bookmarkRibbon"></em>Open</span>
                                    </div>
                                    <div class="text-holder">
                                        <div class="listing-inner">
                                            <h4><a href="#">Menu &amp; Drinks</a></h4>
                                            <p>Chicken Roast, Chines Soup, Cold Coffee</p>
                                            <div class="min-order">
                                                Min Order <span class="price">£10.00</span>
                                            </div>
                                        </div>
                                        <div class="listing-footer">
                                            <div class="listing-inner clearfix">
                                                <div class="img-holder">
                                                    <a href="#"><img src="assets/extra-images/listing-logo09.png"
                                                            alt=""></a>
                                                </div>
                                                <div class="text-holder">
                                                    <p>Norfolk, Acle</p>
                                                    <p class="deliver-time"><span class="icon-motorcycle2"></span>10
                                                        min</p>
                                                    <p class="pickup-time"><span class="icon-clock4"></span>15 min
                                                    </p>
                                                    <a href="#" class="ordernow-btn bgcolor">Order Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-6 grid-listing-col">
                                    <div class="img-holder">
                                        <figure>
                                            <a href="#"> <img src="assets/extra-images/cover-photo18-359x212.jpg"
                                                    alt=""></a>
                                            <figcaption class="listing-meta">
                                                <div class="listing-inner clearfix">
                                                    <div class="list-option">
                                                        <span class="label bgcolor time-label"
                                                            style="display: none;"></span>
                                                        <a href="#" class="shortlist-btn" data-toggle="modal"
                                                            data-target="#sign-in"><i class="icon-heart-o"></i></a>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                        <span class="restaurant-status close"><em
                                                class="bookmarkRibbon"></em>Close</span>
                                    </div>
                                    <div class="text-holder">
                                        <div class="listing-inner">
                                            <h4><a href="#">Chefs</a></h4>
                                            <p>Egg Fry, Noodles, Pastry</p>
                                            <div class="min-order">
                                                Min Order <span class="price">£10.00</span>
                                            </div>
                                        </div>
                                        <div class="listing-footer">
                                            <div class="listing-inner clearfix">
                                                <div class="img-holder">
                                                    <a href="#"><img src="assets/extra-images/listing-logo12.png"
                                                            alt=""></a>
                                                </div>
                                                <div class="text-holder">
                                                    <p>Cheshire, Chester</p>
                                                    <p class="deliver-time"><span class="icon-motorcycle2"></span>10
                                                        min</p>
                                                    <p class="pickup-time"><span class="icon-clock4"></span>15 min
                                                    </p>
                                                    <a href="#" class="ordernow-btn bgcolor">Order Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-6 grid-listing-col featured">
                                    <div class="img-holder">
                                        <figure>
                                            <a href="#"><img src="assets/extra-images/cover-photo17-359x212.jpg"
                                                    alt=""></a>
                                            <figcaption class="listing-meta">
                                                <div class="listing-inner clearfix">
                                                    <div class="list-option">
                                                        <a href="#" class="shortlist-btn" data-toggle="modal"
                                                            data-target="#sign-in"><i class="icon-heart-o"></i></a>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                        <span class="restaurant-status open"><em
                                                class="bookmarkRibbon"></em>Open</span>
                                    </div>
                                    <div class="text-holder">
                                        <div class="listing-inner">
                                            <h4><a href="#">Menu’s</a></h4>
                                            <p>Fish Fry, Fresh Juice, Stakes</p>
                                            <div class="min-order">
                                                Min Order <span class="price">£15.00</span>
                                            </div>
                                        </div>
                                        <div class="listing-footer">
                                            <div class="listing-inner clearfix">
                                                <div class="img-holder">
                                                    <a href="#"><img src="assets/extra-images/listing-logo15.png"
                                                            alt=""></a>
                                                </div>
                                                <div class="text-holder">
                                                    <p>Cumbria, Aspatria</p>
                                                    <p class="deliver-time"><span class="icon-motorcycle2"></span>10
                                                        min</p>
                                                    <p class="pickup-time"><span class="icon-clock4"></span>15 min
                                                    </p>
                                                    <a href="#" class="ordernow-btn bgcolor">Order Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-6 grid-listing-col ">
                                    <div class="img-holder">
                                        <figure>
                                            <a href="#"><img src="assets/extra-images/cover-photo16-359x212.jpg"
                                                    alt=""></a>
                                            <figcaption class="listing-meta">
                                                <div class="listing-inner clearfix">
                                                    <div class="list-option">
                                                        <span class="label bgcolor time-label distance-1566"
                                                            style="display: none;"></span>
                                                        <a href="#" class="shortlist-btn" data-toggle="modal"
                                                            data-target="#sign-in"><i class="icon-heart-o"></i></a>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                        <span class="restaurant-status close"><em
                                                class="bookmarkRibbon"></em>Close</span>
                                    </div>
                                    <div class="text-holder">
                                        <div class="listing-inner">
                                            <h4><a href="#">Food N&amp;H</a></h4>
                                            <p>Beef Roast, Cheese Burger, Doughnut</p>
                                            <div class="min-order">
                                                Min Order <span class="price">£20.00</span>
                                            </div>
                                        </div>
                                        <div class="listing-footer">
                                            <div class="listing-inner clearfix">
                                                <div class="img-holder">
                                                    <a href="#"><img src="assets/extra-images/2.png" alt=""></a>
                                                </div>
                                                <div class="text-holder">
                                                    <p>Dorset, Bridport</p>
                                                    <p class="deliver-time"><span class="icon-motorcycle2"></span>10
                                                        min</p>
                                                    <p class="pickup-time"><span class="icon-clock4"></span>15 min
                                                    </p>
                                                    <a href="#" class="ordernow-btn bgcolor">Order Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-6 grid-listing-col featured">
                                    <div class="img-holder">
                                        <figure>
                                            <a href="#"><img src="assets/extra-images/cover-photo15-359x212.jpg"
                                                    alt=""></a>
                                            <figcaption class="listing-meta">
                                                <div class="listing-inner clearfix">
                                                    <div class="list-option">
                                                        <a href="#" class="shortlist-btn" data-toggle="modal"
                                                            data-target="#sign-in"><i class="icon-heart-o"></i></a>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                        <span class="restaurant-status open"><em
                                                class="bookmarkRibbon"></em>Open</span>
                                    </div>
                                    <div class="text-holder">
                                        <div class="listing-inner">
                                            <h4><a href="#">Restaurant</a></h4>
                                            <p>Apple Juice, BB.Q</p>
                                            <div class="min-order">
                                                Min Order <span class="price">£25.00</span>
                                            </div>
                                        </div>
                                        <div class="listing-footer">
                                            <div class="listing-inner clearfix">
                                                <div class="img-holder">
                                                    <a href="#"><img src="assets/extra-images/listing-logo13.png"
                                                            alt=""></a>
                                                </div>
                                                <div class="text-holder">
                                                    <p>Bedfordshire, Bedford</p>
                                                    <p class="deliver-time"><span class="icon-motorcycle2"></span>10
                                                        min</p>
                                                    <p class="pickup-time"><span class="icon-clock4"></span>15 min
                                                    </p>
                                                    <a href="#" class="ordernow-btn bgcolor">Order Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-section nopadding cs-nomargin"
            style="margin-top: 0px;padding-top: 20px;padding-bottom: 10px;margin-bottom: 0px; background: #ffffff;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="cs-section-title" style="text-align:center!important;">
                            <h2>Featured restaurants</h2>
                            <span style="color:#aaaaaa;">Cum doctus civibus efficiantur in imperdiet
                                deterruisset.</span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="listing fancy fancy-simple">
                            <ul class="row">
                                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="list-post ">
                                        <div class="img-holder">
                                            <figure>
                                                <a href="#"><img src="assets/extra-images/listing-logo03.png"
                                                        alt=""></a>
                                            </figure>
                                        </div>
                                        <span class="restaurant-status close"><em
                                                class="bookmarkRibbon"></em>Close</span>
                                        <div class="text-holder">
                                            <div class="post-title">
                                                <h5><a href="#">Nature Healthy Food</a></h5>
                                            </div>
                                            <address>Apple Juice, Beef Roast, Cheese Burger</address>
                                            <div class="delivery-potions">
                                                <div class="post-time"><i class="icon-check_circle"></i>Min £15.00
                                                </div>
                                                <div class="post-time"><i class="icon-motorcycle"></i>10 min</div>
                                                <div class="post-time"><i class="icon-clock4"></i>15 min</div>
                                                <div class="list-rating">
                                                    <div class="rating-star">
                                                        <span class="rating-box" style="width: 100%;"></span>
                                                    </div>
                                                    <span class="reviews">(1)</span>
                                                </div>
                                                <span>Bristol</span>
                                            </div>
                                        </div>
                                        <div class="list-option">
                                            <a href="#" class="shortlist-btn" data-toggle="modal"
                                                data-target="#sign-in"><i class="icon-heart-o"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="list-post ">
                                        <div class="img-holder">
                                            <figure>
                                                <a href="#"><img src="assets/extra-images/listing-logo09.png"
                                                        alt=""> </a>
                                            </figure>
                                        </div>
                                        <span class="restaurant-status open"><em
                                                class="bookmarkRibbon"></em>Open</span>
                                        <div class="text-holder">
                                            <div class="post-title">
                                                <h5><a href="#">Menu &amp; Drinks</a></h5>
                                            </div>
                                            <address>Chicken Roast, Chines Soup, Cold Coffee</address>
                                            <div class="delivery-potions">
                                                <div class="post-time"><i class="icon-check_circle"></i>Min £10.00
                                                </div>
                                                <div class="post-time"><i class="icon-motorcycle"></i>10 min</div>
                                                <div class="post-time"><i class="icon-clock4"></i>15 min</div>
                                                <span>Acle</span>
                                            </div>
                                        </div>
                                        <div class="list-option">
                                            <a href="#" class="shortlist-btn" data-toggle="modal"
                                                data-target="#sign-in"><i class="icon-heart-o"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="list-post featured">
                                        <div class="img-holder">
                                            <figure>
                                                <a href="#"><img src="assets/extra-images/listing-logo12.png"
                                                        alt=""></a>
                                            </figure>
                                        </div>
                                        <span class="restaurant-status close"><em
                                                class="bookmarkRibbon"></em>Close</span>
                                        <div class="text-holder">
                                            <div class="post-title">
                                                <h5><a href="@">Chefs</a> <span
                                                        class="sponsored text-color">Sponsored</span></h5>
                                            </div>
                                            <address>Egg Fry, Noodles, Pastry</address>
                                            <div class="delivery-potions">
                                                <div class="post-time"><i class="icon-check_circle"></i>Min £10.00
                                                </div>
                                                <div class="post-time"><i class="icon-motorcycle"></i>10 min</div>
                                                <div class="post-time"><i class="icon-clock4"></i>15 min </div>
                                                <span>Chester</span>
                                            </div>
                                        </div>
                                        <div class="list-option">
                                            <a href="#" class="shortlist-btn" data-toggle="modal"
                                                data-target="#sign-in"><i class="icon-heart-o"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="list-post featured">
                                        <div class="img-holder">
                                            <figure>
                                                <a href="#"> <img src="assets/extra-images/listing-logo15.png"
                                                        alt=""></a>
                                            </figure>
                                        </div>
                                        <span class="restaurant-status open"><em
                                                class="bookmarkRibbon"></em>Open</span>
                                        <div class="text-holder">
                                            <div class="post-title">
                                                <h5><a href="#">Menu’s</a><span
                                                        class="sponsored text-color">Sponsored</span></h5>
                                            </div>
                                            <address>Fish Fry, Fresh Juice, Stakes</address>
                                            <div class="delivery-potions">
                                                <div class="post-time"><i class="icon-check_circle"></i>Min £15.00
                                                </div>
                                                <div class="post-time"><i class="icon-motorcycle"></i>10 min</div>
                                                <div class="post-time"><i class="icon-clock4"></i>15 min </div>
                                                <span>Aspatria</span>
                                            </div>
                                        </div>
                                        <div class="list-option">
                                            <a href="#" class="shortlist-btn" data-toggle="modal"
                                                data-target="#sign-in"><i class="icon-heart-o"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="list-post ">
                                        <div class="img-holder">
                                            <figure>
                                                <a href="#"><img src="assets/extra-images/2.png" alt=""> </a>
                                            </figure>
                                        </div>
                                        <span class="restaurant-status close"><em
                                                class="bookmarkRibbon"></em>Close</span>
                                        <div class="text-holder">
                                            <div class="post-title">
                                                <h5><a href="#">Food N&amp;H</a></h5>
                                            </div>
                                            <address>Beef Roast, Cheese Burger, Doughnut</address>
                                            <div class="delivery-potions">
                                                <div class="post-time"><i class="icon-check_circle"></i>Min £20.00
                                                </div>
                                                <div class="post-time"><i class="icon-motorcycle"></i>10 min</div>
                                                <div class="post-time"><i class="icon-clock4"></i>15 min</div>
                                                <span>Bridport</span>
                                            </div>
                                        </div>
                                        <div class="list-option"><a href="#" class="shortlist-btn"
                                                data-toggle="modal" data-target="#sign-in"><i
                                                    class="icon-heart-o"></i> </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="list-post featured">
                                        <div class="img-holder">
                                            <figure>
                                                <a href="#"><img src="assets/extra-images/listing-logo13.png"
                                                        alt=""></a>
                                            </figure>
                                        </div>
                                        <span class="restaurant-status open"><em
                                                class="bookmarkRibbon"></em>Open</span>
                                        <div class="text-holder">
                                            <div class="post-title">
                                                <h5><a href="#">Restaurant</a>
                                                    <span class="sponsored text-color">Sponsored</span>
                                                </h5>
                                            </div>
                                            <address>Apple Juice, BB.Q</address>
                                            <div class="delivery-potions">
                                                <div class="post-time"><i class="icon-check_circle"></i>Min £25.00
                                                </div>
                                                <div class="post-time"><i class="icon-motorcycle"></i>10 min</div>
                                                <div class="post-time"><i class="icon-clock4"></i>15 min</div>
                                                <span>Bedford</span>
                                            </div>
                                        </div>
                                        <div class="list-option">
                                            <a href="#" class="shortlist-btn" data-toggle="modal"
                                                data-target="#sign-in"><i class="icon-heart-o"></i></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- Main Section End -->
{% endblock %}